<section class="container review-list my-5" style="border-radius:10px">

  <table class="table table-hover">
    <thead class="table-header">
      <tr style="color:white; font-weight:bolder; font-size:1.25rem">
        <td scope="col">My Tutors</td>
        <td scope="col">Rating</td>
        <td scope="col">My Reviews (Click to edit)</td>
        <td scope="col">Availability</td>
      </tr>
    </thead>

    {{#each myReviews as |myReview|}}
      <tr
        class="clickable-link"
        onclick="window.location='/edit/{{myReview.id}}';"
        style="color:white; cursor:pointer"
     
      >
        <td value="{{myReview.tutor_id}}">
          {{myReview.tutor.name}}
        </td>
        <td>
          {{myReview.rating}}
        </td>
        <td>
          {{myReview.review}}
        </td>
        <td>
          {{#if myReview.daytime}}
            Daytime
          {{/if}}
          {{#if myReview.weekends}}
            Weekends
          {{/if}}
          {{#if myReview.nights}}
            Nights
          {{/if}}
        </td>
      </tr>
    {{/each}}

    <thead class="table-header">
      <tr style="color:white; font-weight:bolder; font-size:1.25rem">
        <td scope="col">All Tutors</td>
        <td scope="col">Rating</td>
        <td scope="col">Reviews (sorted by newest)</td>
        <td scope="col">Availability</td>
      </tr>
    </thead>

    {{#each reviews as |review|}}
      <tr class="edit" style="color:white;">
        <td>
          {{review.tutor.name}}
        </td>
        <td>
          {{review.rating}}
        </td>
        <td>
          {{review.review}}
        </td>
        <td>
          {{#if review.daytime}}
            Daytime
          {{/if}}
          {{#if review.weekends}}
            Weekends
          {{/if}}
          {{#if review.nights}}
            Nights
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</section>