<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<section class="container review-list my-5" style="border-radius:10px">
  <table class="table table-hover">
    <thead
      class="table-header"
      style="white-space: nowrap"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Click to sort"
    >
      <tr style="color:white; font-weight:bolder; font-size:1.25rem">
        <th scope="col" style="width: 19.66%">My Tutors</th>
        <th scope="col" style="width: 8.33%">Rating</th>
        <th scope="col" style="width: 60.01%">My Reviews</th>
        <th scope="col" style="width: 12%">Availability</th>
      </tr>
    </thead>

    {{#each myReviews as |myReview|}}
      <tr
        class="clickable-link"
        onclick="window.location='/edit/{{myReview.id}}';"
        style="color:white; cursor:pointer"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Click to update or delete"
      >
        <td value="{{myReview.tutor_id}}">
          {{myReview.tutor.name}}
        </td>
        <td>
          {{myReview.rating}}
        </td>
        <td>
          {{myReview.review}}
        </td>
        <td>
          {{#if myReview.daytime}}
            Daytime
          {{/if}}
          {{#if myReview.weekends}}
            Weekends
          {{/if}}
          {{#if myReview.nights}}
            Nights
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
  <table class="table table-hover">
    <thead
      class="table-header"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Click to sort"
    >
      <tr style="color:white; font-weight:bolder; font-size:1.25rem">
        <th scope="col" style="width: 19.66%">All Tutors</th>
        <th scope="col" style="width: 8.33%">Rating</th>
        <th scope="col" style="width: 60.01%">Reviews</th>
        <th scope="col" style="width: 12%">Availability</th>
      </tr>
    </thead>

    {{#each reviews as |review|}}
      <tr class="edit" style="color:white;">
        <td>
          {{review.tutor.name}}
        </td>
        <td>
          {{review.rating}}
        </td>
        <td>
          {{review.review}}
        </td>
        <td>
          {{#if review.daytime}}
            Daytime
          {{/if}}
          {{#if review.weekends}}
            Weekends
          {{/if}}
          {{#if review.nights}}
            Nights
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</section>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/js/sip.js"></script>